.compact_div {
	position: relative;
}

.compact_div label {
	position: absolute;
	top: 1px;
	left: 5px;
	z-index: 500;
	display: inline
}

.compact_div.hideLabel label {
	display: none;
}

.compact_div.hideLabel label {
	display: none;
}

.pop_description .description {
	display: none;
}