.forms_alterations_menu {
    padding: 5px;
    background: url('../img/menu.gif') left top no-repeat;
    position: relative;
    width: 20px;
		visibility:visible !important;
    display: inline !important;
}

.forms_alterations_menu ul{
	position: absolute;
	rigth:0;
	top: -99999em;
}

.forms_alterations_menu:hover, .forms_alterations_menu.show{
}

.forms_alterations_menu:hover ul, .forms_alterations_menu.hover ul{
	width: 250px;
	top: 0;
	border: 1px solid #CCC;
	background-color: #FFF;
	z-index: 5000;
	padding: 2px 5px;
}

.forms_alterations_menu li {
  padding-bottom: 2px;
  z-index: 5000;
  background-color: #FFF;
}

/* administrative hover links */

.forms_alterations_menu {
  font-size: xx-small;
  margin-right: 1em;
  margin-top: 1em;
/*  width: 95%; */
}


.forms_alterations_menu li a {
  color: #ccc;
}

.forms_alterations_menu-hover a,
.forms_alterations_menu:hover a {
  color: #000;
}

.forms_alterations_menu a:before {
  content: "[";
}

.forms_alterations_menu a:after {
  content: "]";
}


#form_edition_and_hiden {
	overflow: hidden;
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
	font-size: 11px;
}

#form_edition_and_hiden .forms_alterations_menu {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
}

#form_edition_and_hiden.hover, #form_edition_and_hiden:hover {
	height: auto;
	overflow: inherit;
}

#form_edition_and_hiden p{
	background: #EEE url('../img/menu.gif') 98% 5px no-repeat;
	padding: 0;
	margin: 0;
	padding: 2px;
	width: 250px;
	float: left;
	border: 1px solid #CCC;
}

#form_edition_and_hiden .form_sub_menu{
	display:none;
	position: absolute;
	top: 25px;
	left:0px;	
	width: 254px;
	z-index: 1500;
}

#form_edition_and_hiden:hover .form_sub_menu, #form_edition_and_hiden.hover .form_sub_menu{
	display:block;
	background: #FFF;
	border: 1px solid #CCC;
}

#form_edition_and_hiden .form_sub_menu span{
	display:block;
	clear: both;
	padding:2px 3px;
	border-bottom: 1px solid #CCC;
}

/** form fixes**/

#edit-element-type{
	text-transform: capitalize;
}

.clear {
	clear: both;	
}
