.ui-dropdownchecklist {
	height: 20px;
	border: 1px solid #ddd;
	border-right: 0;
	background: #fff url(../img/dropdown.png) no-repeat center right;
}
.ui-dropdownchecklist-hover, .ui-dropdownchecklist-active {
	background-image: url(../img/dropdown_hover.png);
	border-color: #5794bf;
}

.ui-dropdownchecklist-text {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin-right: 17px; /* background dropdown.png image */
}

.ui-dropdownchecklist-dropcontainer {
	background-color: #fff;
	border: 1px solid #999;
}

.ui-dropdownchecklist-item {

}

.ui-dropdownchecklist-item-hover {
	background-color: #39f;
}

.ui-dropdownchecklist-item-disabled label {
	color: #ccc;
}

.ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text {
	color: #fff;
}

.ui-dropdownchecklist-group {
	font-weight: bold;
	font-style: italic;
}

.ui-dropdownchecklist-indent {
	padding-left: 20px;
}
